*,
*::after,
*::before {
    padding: 0;
    margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;    
  user-select: none;


}

body {
  margin: 0;
  background-image: url(../image/5172658.jpg);
  background-size: cover;
  background-color: #f2f2f2;
  color: #222222;
}

h1 {
  text-align: center;
  font-size: 3.5rem;
  color: #ffffff;
  margin: 0;
  word-spacing: 7px;
  
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-container {
  padding: 20px;
}

.game-container .wrap {
  margin: 0 auto;
  max-width: 400px;
  display: grid;
  grid-template-columns: repeat(3, 90px);
  grid-template-rows: repeat(3, 90px);
  justify-content: center;
  border-radius: 3px;
}

.box {
  background-color: #a7a7a7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 800;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.12s linear;
}


.cross::before {
  content: "X";
  color: #001aff;
}
.zero::before {
  content: "O";
  color: #ff3c00;
}

.box:hover {
  background-color: #f9f9f9;
}

.state {
  text-align: center;
  margin-top: 20px;
}

.blink {
    background-color: #00ffee !important;
}

.state button {
  all: unset;
  background: #f7f7f7;
  border: 1px solid rgb(0 0 0 / 0.3);
  color: black;
  padding: 5px 15px;
  font-size: 18px;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}
.state button:hover {
  background: white;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}
.state button:active {
  box-shadow: none;
}



.wall-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header{
    width: 500px;
    max-width: 100%;
    height: 60px;
    background-color: yellow;
    display: flex;
    align-items: center;
    border-radius: 7px;
}

.score{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.noti-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
}

.max-point{
    position: absolute;
    top: -18px;
    font-size: 12px;
    background-color: yellow;
    padding: 3px 3px 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.noti-play{
    background-color: #07e000;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    padding: 5px;
}



.nbscore{
    background-color: #00b2e9;
    width: 150px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 10px;
}

#form-text{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    top: 0;
    height: 100%;
    background: -webkit-radial-gradient(bottom left,#8500ffc4, #ff5e00, #8500ffeb);
    /* display: none; */
}

.select-mod{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.txt-filed{
    padding: 10px;
    width: 100%;
    background-color: #007BFF;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}
.check-mod{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin:0 20px 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.label-check{
    color: white;
    font-size: 14px;
    font-weight: bold;
}

input[type="radio"]{
    cursor: pointer;
    width: 20px;
    height: 20px;
}



.btn-hover-and-active{
    border: none;
    width: 100px;
    height: 40px;
    background-color: #28A745;
    color: #cecece;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px white;
    transform: scale(1);
    margin-bottom: 10px;
    transition:transform 0.1s linear, background-color 0.15s linear, color 0.15s linear;
}

.btn-hover-and-active:hover{
    background-color: #32b450;
    color: #ffffff;
}

.btn-hover-and-active:active{
    transform: scale(0.9);
}

.form-one-player{
    display: none;
}

.form-two-player{
    display: none;
}

.form-wall{
    width: 100%;
    max-width: 450px;
    border: 2px dashed rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
}

#form-text .nameGame{
    width: 100%;
    text-align: center;
    height: 100px;
    line-height: 80px;
    font-size: 40px;
    color: #00ff89;
    text-shadow: 0 0 2px white;
}



.type-pl{
    display: flex;
    justify-content: center;
    margin: 0 auto 0 0px;
}

.type-pl.first{
    height: 150px;
}

.name-player{
    width: 100px;
    height: 40px;
    background-color: black;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    margin:0 10px 0 0;
    font-size: 16px;
    color: white;
    font-weight: 400;
}

.input-txt{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
}

.type-name-player{
    height: 40px;
    margin-bottom: 10px;
    font-size: 20px;
}

.checkbox{
    display: flex;
    margin-left: 10px;
    border: 1px dashed #5ee900;
    border-radius: 15px;
    width: fit-content;
}

.input-radio{
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 5px 0 5px 10px;
}

.label-check{
    margin: auto 10px auto 0px ;
    padding: 0 15px 0 5px;
    cursor: pointer;
    display: block;
    line-height: 20px;
}

.btn-submit{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

#submit-form{
    width: 100px;
    height: 40px;
    margin-top: 20px;
    border: none;
    background-color: green;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transform: scale(1);
    box-shadow: 0 0 10px 4px white;
    font-weight: bold;
    transition: transform 0.1s linear, background-color 0.15s linear;
}

#submit-form:active{
    transform: scale(0.8);
}
#submit-form:hover{
    background-color: #009900;
}

.end-game{
    width: 300px;
    height: 370px;
    background-color: #e878ff85;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

#result {
    font-size: 25px;
    font-weight: bold;
    width: 90%;
    border-radius: 10px;
    padding: 10px 0;
    background-color:blue ;
    text-align: center;
  }
  #result::first-letter {
    color: yellow;
    background-color: #333333;
    padding: 3px 10px;
    display: inline-block;
    border-radius: 2px;
  }

#restart,#reload{
    background-color: #3ba515;
    box-shadow: 0 0 6px 2px white;
    border: none;
    margin-top: 20px;
    text-align: center;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.1s linear,color 0.2s linear,background-color 0.2s linear ;
}

#reload{
    font-size: 16px;
    padding: 8px 12px;
    background-color: #d31313;
    position: absolute;
    bottom: 20px;
}

#reload:hover{
    background-color: #fd2525;
}

#restart:active{
    transform: scale(0.8);
}

#restart:hover{
    background-color: #2c860c;
    color: white;
}